/* Base styles for all screens */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: aqua;
}

.main {
  padding: 50px;
  background-color: aqua;
}

.logo {
  display: block;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

span {
  color: rgb(255, 174, 0);
}

.contand {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.item {
  background-color: rgb(255, 174, 0);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1); /* Add shadow */
  padding: 20px;
  width: 45%; /* Adjust width */
  max-width: 400px; /* Set max-width */
}

.tile-image {
  max-width: 100%;
  border-radius: 10px;
  /* border: 3px white solid; */
  margin-bottom: 20px;
}

.card_title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  margin: 0;
}

footer {
  text-align: center;
  color: midnightblue;
  padding: 20px;
}

/* Media query for mobile devices */
@media screen and (max-width: 576px) {
  .main {
    padding: 30px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .contand {
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Media query for tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .main {
    padding: 40px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

/* Media query for
laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
.main {
padding: 50px;
}

h1 {
font-size: 2rem;
}
}

/* Media query for PCs */
@media screen and (min-width: 993px) and (max-width: 1200px) {
.main {
padding: 60px;
}

h1 {
font-size: 2.2rem;
}
}

/* Media query for larger desktop screens */
@media screen and (min-width: 1201px) {
.main {
padding: 70px;
}

h1 {
font-size: 2.5rem;
}
}