body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #02ffeafb;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
span{
  color: rgb(255, 174, 0);
}
/* .left,
.right {
  justify-content: flex-start;
  flex: 1;
  margin-right: 20px;
}  */
/* .tile-image {
  display: inline-block;
  margin-right: 20px;
  float: left;
  border-radius: 10px;
  border: 3px white solid;
  max-width: 25%;
} */
.main .contand{
  display: flex;
}
.main .contand .item {
  flex: 1; /* Equal width for both items */
  margin-right: 20px; /* Adjust spacing between items */
}
.title-image {
  height: 10px;
  width: 10px;
  float: left;
  max-width: 20%; /* Ensure image does not exceed container width */
  display: block; /* Prevent inline images from adding extra space */
  margin-right: 20px;
}
.card_title{
  /* display: inline-block; */
  /* text-align: left */
  /* width: 25%; */
  margin: 0;
}
.card-text {
  /* display: inline-block; */
  /* text-align: left; */
  /* width: 25%; */
  margin: 0;
}
footer {
  text-align: right;
  color: midnightblue;
}